<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 <system.webServer>
    <webSocket enabled="true" />
  <handlers>
   <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
  </handlers>

  <httpPlatform processPath="D:\home\Python364x86\python.exe" 
        arguments="application.py" 
        requestTimeout="00:04:00" 
        startupTimeLimit="120" 
        startupRetryCount="3" 
        stdoutLogEnabled="true">
   <environmentVariables>
    <environmentVariable name="PYTHONPATH" value="D:\home\site\wwwroot" />
    <environmentVariable name="PATH" value="%PATH%;D:\local\AppData\Python\Python36\Scripts" />
    <environmentVariable name="SECRET_KEY" value="SECRET!" />
    <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
   </environmentVariables>
  </httpPlatform>

 </system.webServer>
</configuration> 