#brand-logo {
    font-size: 24px;
}
#app-navbar {
    background: linear-gradient(120deg,silver,grey);
    padding: 0%;
}
/* body {
    font-family: helvetica;
    display: flex ;
    flex-direction: column;
    align-items: center;
  } */

  .chat,#chatbox {
    width: 90%;
    border: solid 1px rgb(139, 134, 134);
    display: flex;
    background-image: url('../img/blackboard.jpg');
    flex-direction: column;
    padding: 10px;
    overflow-y: scroll;
    height: 350px;
    margin-bottom: 0%;
  }

  #about {
    width: 80%;
    overflow-y: scroll;
    height: 350px;
    background-image: url('../img/blackboard.jpg');
    color: bisque;
  }

  #about>p>a {
    color: antiquewhite;
  }

  .btn.del-btn {
    padding: 0%;
    margin: 0%;
  }

  .messages {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }
  
  .message {
    border-radius: 20px;
    padding: 8px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
  }
  
  .yours {
    align-items: flex-start;
  }
  
  .yours .message {
    margin-right: 25%;
    background-color: #eee;
    position: relative;
  }
  
  .mine {
    align-items: flex-end;
  }
  
  .mine .message {
    color: white;
    margin-left: 25%;
    background: linear-gradient(to bottom, #00D0EA 0%, #0085D1 100%);
    background-attachment: fixed;
    position: relative;
  }
  
  .chatbubbleUserName {
    font-size: 9px;
    color: beige;
    font-style: italic ;
    font-weight: bold ;
  }
  .time-stamp {
    font-size: 8px;
  }
  #msgText {
    text-align: left;
  }