{% extends 'layout.html' %}

{% block sidebar %}

<script src="{{ url_for('static',filename='js/index.js') }}"></script>

<ul>
    <li><a id="createchannel" href="#" > + Channels </a> </li>
    {% for channel in channels %}
        <li> <a class="channel" data-channel="{{ channel }}" href="#"> {{ channel }} </a></li>
    {% else %}

    {% endfor %}
</ul>

{% endblock %}

{% block content %}

<h5>{{ text1 }}</h5>

<h5>Welcome to <span id="channelname">{{ channel }}</span> channel - {{ user }}</h5>

<div id="formchannel" class=" jumbotron" style="display: none;width: 80%;">
    <button id="formClose" class=" btn btn-outline-danger">
        <i class=" ion-ios-close-outline" ></i>
    </button>

    <form action="/createchannel" method="POST" enctype="multipart/form-data">
        <h3>Create new channel</h3>
        <div class=" col-8">
            <input id="newChannelName" type="text" name="newchannel" class=" form-control" placeholder="new channel" required>
            <div class=" float-right">
                <span>Created By<input type="text" class="col-4" value="{{ user }}" name="username" > </span>
                <button id="newChannelSubmit" type="submit" class="btn btn-outline-secondary btn-group-sm">Submit</button>   
            </div>
        </div>
    </form>
</div>
<script id="chatscript" type="text/x-handlebars-template">
    {% raw -%}
        {{#each msgs}}
            {{#if_equal this.user ../username }}
                <div class="mine messages">
                    <span class="chatbubbleUserName">me</span>
                    <a class="btn del-btn btn-outline-danger" href="#"><i class="ion-android-delete" ></i></a>
            {{else}}
                <div class="yours messages">
                    <a class="chatOtherUser" href="#"><span class="chatbubbleUserName">{{ this.user }}</span></a>
            {{/if_equal}}
                    <div class="message">
                    <span class="msg">{{ this.msg }}</span>
                    <br>
                    <span class="time-stamp">{{ this.time }}</span>
                    </div>
                </div>
        {{/each}}
    {%- endraw %}
</script>

<div id="chatbox" class="jumbotron jumbotron-fluid">

</div>
    
<!-- 
<form id="uploadForm" action="/uploader" method="POST" enctype="multipart/form-data" class=" col-4">
    <input name="file" type="file" id="attachfile" title="attach files" class=" btn btn-outline-secondary">
    <input name="user" id="uploadUser" type="text" style="display: none">
    <input name="channel" id="uploadChannel" type="text" style="display: none">
    <button type="submit" class=" btn btn-outline-info">upload now</button>
</form> -->

<div class=" form-inline col-12">
        <input type="text" id="msgText" name="msgText" class=" input-group-text col-6" placeholder="message to send">

        <button id="sendmsg" class="btn btn-outline-secondary" title="send message"><i class=" ion-android-send"></i></button>

</div>

{% endblock %}